h2{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 14px;
    font-style: bold;
}

body{
    background-color: gainsboro;
}
.container{
    background-color: white;
}

.container{
    box-shadow: 5px 5px 28px 2px rgba(0,0,0,0.69);
    -webkit-box-shadow: 5px 5px 28px 2px rgba(0,0,0,0.69);
    -moz-box-shadow: 5px 5px 28px 2px rgba(0,0,0,0.69);

    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px;
    border-radius: 10px;
}